@import "../../mixins.scss";
.carouselSection {
  position: relative;
  margin-bottom: 70px;
  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carouselTitle {
    font-size: 35px;
    color: var(--orange);
    font-weight: 600;
    @include xs {
      font-size: 25px;
    }
  }
}
